.container {
  width: 100%;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
}

/* .background-image {
  background-image: ;
} */

.main-head {
  text-align: center;
}

.main-table {
  display: flex;
  justify-content: center;
  /* position: absolute;
  z-index: 10000; */

}

/* .main-table-row {
  width: 40%;
} */

.main-table-data {
  height: 15vh;
  border: 1px solid rgb(17, 255, 49);
  color: black;
}

.backgroundPhoto {
  width: 100%;
  max-width: 1250px;
  height: 1000px;
  position: absolute;
  z-index: -1;
}
